<h1>Welcome to <%= @club.name %></h1><br>

See the books we are reading: <br>
<ul>
<% @club.books.each do |book| %>
    <li>
        <%= link_to book.title, book_path(book) %> <em>(added by <%= book.user.email %>)</em>
    </li>
<% end %>
</ul>
<br>

See who is a part of our Book Club: <br>
<ul>
<% @club.users.uniq.each do |user| %>
    <li>
        <%= user.email %>
    </li>
<% end %>
</ul>

<%= link_to "Edit Book Club", edit_club_path(@club) %><br>
<%= link_to "Add a Book To Join This Club", new_club_book_path(@club) %><br>

<!-- Don't want users to be able to delete clubs without having an club owner attribute-->
<!-- <% button_to "Delete This Club", club_path(@club), method: :delete %> -->