<h1><%= @book.title %></h1> 

<% if flash[:alert] %>
        <p><%= flash[:alert] %><p>
<% end %>

<p>By <%= @book.author %></p>

<p><%= @book.summary %></p>

<p>Comments:</p>
<ul>
    <% @comments.each do |comment| %>
        <li>
            <%= comment.user.email %> says <%= comment.content %><br>
            <em>Posted at <%= comment.created_at.strftime("%B %-d, %Y at %I:%M%p") %></em><br>
            <%= link_to "edit", edit_comment_path(comment) %> | <%= link_to "delete", comment_path(comment), method: :delete %><br>
        </li>
    <% end %>
</ul>

<%= link_to "New Comment", new_book_comment_path(@book.id) %>


<br><br>
<% if current_user.id == @book.user_id %>
    <%= link_to "Edit this book", edit_book_path(@book.id) %><br>
    <%= button_to "Delete This Book", book_path(@book), method: :delete %><br>
<% end %>

<%= link_to "Go to book club page", club_path(@book.club_id) %><br>
<%= link_to "Interested in buying this book?", "http://www.google.de/search?q=#{@book.title}", :target => "_blank" %><br>
